.idea/*
.idea/
.idea\*
.idea\
.idea/workspace.xml
bin/
build/
*.apk
build/outputs/lint-results-release-fatal.html
build/intermediates/res/debug/layout/promptversion.xml
*.jar
*.bin
build/intermediates/classes/release/com/codpaa/GeoLocalizar.class
*.class
build/generated/source/buildConfig/release/com/codpaa/BuildConfig.java
merger.xml
.idea/workspace.xml
