<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codpaa"
    android:versionCode="33"
    android:versionName="1.1.2" >
    
    <uses-sdk android:minSdkVersion="10" />
    
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    
	<supports-screens
	    android:largeScreens="true"
	    android:normalScreens="true"
	    android:smallScreens="true"
	    android:anyDensity="true" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MiTema" >
        <activity
            android:name=".launcher.Lanzador"
            android:label="@string/nombreAplicacion" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activitys.MainActivity" android:label="@string/nombreAplicacion" android:theme="@style/MiMateria" android:screenOrientation="portrait" />
        <activity android:name=".activitys.MenuPrincipal" android:label="@string/nombreAplicacion" android:icon="@drawable/ic_launcher" android:screenOrientation="portrait" />
        <activity android:name=".activitys.MenuTienda" android:label="@string/nombreAplicacion" android:screenOrientation="portrait" />
        <activity android:name=".activitys.MostrarCalendario" android:label="@string/ruta" android:screenOrientation="portrait" android:icon="@drawable/ic_launcher" />
        <activity android:name=".activitys.ListarLocation" android:label="@string/nombreAplicacion" android:screenOrientation="portrait" />
        <activity android:name=".activitys.EnviarInformacion" android:label="@string/enviar" android:screenOrientation="portrait" />
        <activity android:name=".activitys.Frentes" android:label="@string/frentes" android:screenOrientation="portrait" />
        <activity android:name=".activitys.SurtidoMueble" android:label="@string/surtido" android:screenOrientation="portrait" />
        <activity android:name=".activitys.Exhibiciones" android:label="@string/exhi" android:screenOrientation="portrait" />
        <activity android:name=".activitys.InventarioBodega" android:label="@string/inventario" android:screenOrientation="portrait" />
        <activity android:name=".activitys.ComentariosActivity" android:label="@string/comentienda" android:screenOrientation="portrait" />
        <activity android:name=".activitys.InteligenciaMercado" android:label="@string/inteligencia" android:screenOrientation="portrait" />
        <activity android:name=".activitys.Mayoreo" android:label="@string/cajasmayoreo" android:screenOrientation="portrait" />
        <activity android:name=".activitys.PhotoCapture" android:label="@string/capIma" android:screenOrientation="portrait" />
        <activity android:name=".activitys.Imagesheduler" android:label="@string/nombreAplicacion" android:screenOrientation="portrait" />
        <service android:name=".services.GeoLocalizar"/>
    </application>
    
   	

</manifest>