<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codpaa"
    android:versionCode="53"
    android:versionName="1.2.5 rc1">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- [Start gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [end gcm_permission] -->

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MiTema">
        <activity
            android:name=".launcher.Lanzador"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.MyRecive"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.ConnectionStatus"
            android:label="ConnectionStatus">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait"
            android:theme="@style/MiMateria" />
        <activity
            android:name=".activity.MenuPrincipal"
            android:icon="@drawable/ic_launcher"
            android:label="@string/menu_principal"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".activity.MenuTienda"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBarNoTitle" />
        <activity
            android:name=".activity.MostrarCalendario"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/MiMateria"
            android:label="@string/ruta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListarLocation"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnviarInformacion"
            android:label="@string/enviar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Frentes"
            android:label="@string/frentes"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBarNoTitle" />
        <activity
            android:name=".activity.SurtidoMueble"
            android:label="@string/surtido"
            android:theme="@style/noActionBarNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Exhibiciones"
            android:label="@string/exhi"
            android:theme="@style/noActionBarNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Inventario"
            android:label="@string/inventario"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".activity.ComentariosActivity"
            android:label="@string/comentienda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InteligenciaMercado"
            android:label="@string/inteligencia"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PhotoCapture"
            android:label="@string/capIma"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Imagesheduler"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CalendarioRuta"
            android:label="@string/ruta"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />

        <activity android:name=".activity.VentaPromedio"
            android:label="@string/venta_promedio"
            android:screenOrientation="portrait"
            android:theme="@style/AppBase"/>

        <activity
            android:name=".activity.EncuestaActivity"
            android:label="@string/encuestas" />


        <activity
            android:name=".activity.MessaginActivity"
            android:label="@string/title_activity_messagin"
            android:theme="@style/MiMateria"/>

        <activity
            android:name=".activity.ListaMensajesActivity"
            android:label="@string/title_activity_messagin" />

        <activity
            android:name=".activity.AddressActivity"
            android:label="@string/address"
            android:theme="@style/noActionBar"/>

        <activity
            android:name=".activity.CapturaGeneral"
            android:theme="@style/noActionBarNoTitle"/>

        <activity
            android:name=".activity.TiendaDatos"/>

        <activity
            android:name=".activity.MaterialesActivity"
            android:label="@string/materiales" />


        <service android:name=".service.GeoLocalizar"
            android:exported="false"/>

        <service android:name=".service.MyGcmListenerService"
            android:exported="false">

            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT"/>

            </intent-filter>

        </service>

        <service android:name=".service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".service.RegistrationIntentService"
            android:exported="false"/>


    </application>

</manifest>
