<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codpaa">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="31" /> <!--Era 29-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- [Start gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [end gcm_permission] -->

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- QUERIES (NECESARIA PARA ANDROID 12) -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:theme="@style/MiTema"
        android:supportsRtl="true"
        >


        <provider
            android:name="com.codpaa.provider.PhotoProviderVan"
            android:authorities="com.codpaa.provider.PhotoProviderVan"
            android:grantUriPermissions="true">

        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codpaa.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />



        <activity
            android:name=".launcher.Lanzador"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.MyRecive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.ConnectionStatus"
            android:label="ConnectionStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".broadcast.InstallApps"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <service android:name=".service.JobService"
            android:label="Sending Info"
            android:permission="android.permission.BIND_JOB_SERVICE">


        </service>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait"
            android:theme="@style/MiMateria" />
        <activity
            android:name=".activity.MenuPrincipal"
            android:icon="@drawable/ic_launcher"
            android:label="@string/menu_principal"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />

        <activity
            android:name=".activity.Agotados"
            android:label="Agotados"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />

        <activity
            android:name=".activity.MainMenu"
            android:icon="@drawable/ic_launcher"
            android:label="@string/menu_principal"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />

        <activity
            android:name=".activity.MenuTienda"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBarNoTitle" />
        <activity
            android:name=".activity.MostrarCalendario"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/MiMateria"
            android:label="@string/ruta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListarLocation"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnviarInformacion"
            android:label="@string/enviar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Frentes"
            android:label="@string/frentes"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".activity.SurtidoMueble"
            android:label="@string/surtido"
            android:theme="@style/noActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Exhibiciones"
            android:label="@string/exhi"
            android:theme="@style/noActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Inventario"
            android:label="@string/inventario"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".activity.ComentariosActivity"
            android:label="@string/comentienda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Precio"
            android:label="@string/inteligencia"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PhotoCapture"
            android:label="@string/capIma"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageSheduler"
            android:label="@string/nombreAplicacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CalendarioRuta"
            android:label="@string/ruta"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBarNoTitle" />

        <activity android:name=".activity.VentaPromedio"
            android:label="@string/venta_promedio"
            android:screenOrientation="portrait"
            android:theme="@style/AppBase"/>

        <activity
            android:name=".activity.EncuestaActivity"
            android:label="@string/encuestas" />


        <activity
            android:name=".activity.MessaginActivity"
            android:label="@string/title_activity_messagin"
            android:theme="@style/MiMateria"/>

        <activity
            android:name=".activity.ListaMensajesActivity"
            android:label="@string/title_activity_messagin" />

        <activity
            android:name=".activity.AddressActivity"
            android:label="@string/address"
            android:theme="@style/noActionBar"/>

        <activity
            android:name=".activity.CapturaGeneral"
            android:theme="@style/noActionBarNoTitle"/>

        <activity
            android:name=".activity.TiendaDatos"/>

        <activity
            android:name=".activity.MaterialesActivity"
            android:label="@string/materiales" />

        <activity android:name=".activity.SettingsApplication"
            android:label="@string/configuracion"
            />

        <activity
            android:name=".activity.impulsor.ProcesoAceptacion"
            android:label="@string/proceso_aceptacion"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.impulsor.Estatus"
            android:label="@string/estatus_activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.impulsor.AvanceGestion"
            android:label="Avance de la gestion"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.impulsor.TiendaNueva"
            android:label="Estudio de mercado"
            />

        <activity android:name=".activity.CapturaEspecial"
            android:label="Censo Tinte"
            android:screenOrientation="portrait"
            />

        <activity android:name=".activity.ProductosDisponibles"
            android:label="Productos disponibles"
            android:screenOrientation="portrait"
            />

        <activity android:name=".activity.MedicionMuebles"
            android:label="Medicion de muebles"
            android:screenOrientation="portrait"
            />

        <activity android:name=".activity.Disclosure"
            android:label="Aviso"
            android:screenOrientation = "portrait"/>


        <service android:name=".service.GeoLocalizar"
            android:exported="false"/>

        <service android:name=".service.MyGcmListenerService"
            android:exported="false">

            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT"/>

            </intent-filter>

        </service>


        <service
            android:name=".service.AuthenticatorService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/aunthenticator"
                />


        </service>



    </application>

</manifest>
