*:focus{
    outline: none;
}


#contenedor_solicitud{
    padding: 20px;
    position: relative;
    background-color: #fff;
}

#contenedor_solicitud h1{
    color: #1b1b1b;
}

#contenedor_solicitud h3{
    margin: 20px;
    width: 80%;
    color: #6d6c6c;
}

#fm_solicitud{
    margin-top: 50px;
}


#fm_solicitud ul{

    list-style: none outside;
    margin: 0;
    padding: 0;
}

#fm_solicitud li{
    padding: 12px;
    border-bottom: 1px solid #8b8a8a;
    position: relative;
    color: #8b8a8a;
}

#fm_solicitud li:last-child {
    border:none;
}

#fm_solicitud label{
    width: 30%;
    float: left;
    text-align: left;
    display: inline-block;
}

#fm_solicitud input, #fm_solicitud textarea{
    border: 1px solid #ccc;
    min-height: 20px;
    min-width: 220px;
    padding: 8px;
    transition: all 0.3s ease-out;
}

#fm_solicitud #cliente{
    width: 300px !important;
}


button.submit{
    background-color: #68b12f;
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 18px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
    font-size: 17px;
}

#button_sub{
    text-align: right;
}

button.submit:hover{
    cursor: pointer;
    background-color: #44771c;
}

#fm_solicitud input, #fm_solicitud textarea {

    /* box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;*/
    border-radius: 2px;
    padding-right: 30px;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    /*transition: padding .25s;*/
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bdbdbd;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bdbdbd;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bdbdbd;
}
:-moz-placeholder { /* Firefox 18- */
    color: #bdbdbd;
}

.span-hint{

    color: indianred;
    padding: 5px;

}


input.hint{

    font-weight: bold;

    border: 1px solid #d52715;
    background-color: #fff3f3;
}

textarea.hint{

    font-weight: bold;

    background-color: #fff3f3;
}